#contenu, #contenu:visited {
  border: 1px solid black;
  padding: 2em;
  display: flex;
  flex-direction: column;
  max-width: 20em;
  color: black;
  text-decoration: none;
}

.titre {
  font-size: 1.5em;
  font-weight: bold;
}
