nav {
  display: flex;
  flex-direction: row;
  background-color: black;
}

#left {
}

#right {
  margin-left: auto;
}

a {
  display: inline-block;
  font-size: 20px;
  padding: 2em;
  background-color: #000000;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #666;
}
