<table mat-table [dataSource]="auteurs">

  <mat-text-column name="nomAuteur" headerText="Nom"></mat-text-column>
  <mat-text-column name="prenomAuteur" headerText="Prénom"></mat-text-column>

  <ng-container matColumnDef="boutonFiche">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef>
      <!-- TODO: lien vers la fiche -->
      <button mat-raised-button>Voir la fiche</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="boutonOeuvres">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef>
      <!-- TODO: lien vers la liste des oeuvres -->
      <button mat-raised-button>Voir les œuvres</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
